/* Variables */

:root{

    /* Colores */
    --db-color-primary:#FBC02D;
    --db-color-secondary:#3c3E44;
    --db-color-page-bg: #272B33;

     /* Espaciados*/
    --db-spacing-s: 8px;
    --db-spacing-md: 12px;
    --db-spacing-md: 16px;

     /* Radius */
    --db-rounded:5px;
}

/* Fin de las Variables */