/* Variables */

:root{

    /* Colores */
    --db-color-primary:#FBC02D;
    --db-color-secondary:#3c3E44;
    --db-color-page-bg: #272B33;

     /* Espaciados*/
    --db-spacing-s: 8px;
    --db-spacing-md: 12px;
    --db-spacing-lg: 16px;

     /* Radius */
    --db-rounded-xs:6px;
    --db-rounded-md:10px;

    /* Fonts */
    --db-page-title-size:24px;

    /* Fonts */
    --db-elevation-md:0 0 10px rgb(0, 0, 0.1);

}

/* Fin de las Variables */